@import "src/general";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: $turquoise-5;
}

.title {
  font-size: 14px;
  font-weight: 700;
}

.text {
  font-size: 14px;
  font-weight: 400;
}