@import "src/general";

.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.title {
  @include title(32px);
}

.button {
  color: $blue-1 !important;
  max-width: max-content;
  display: flex;
  gap: 10px;
  padding: 10px !important;

  span {
    line-height: 20px;
  }
}

.underlining {
  @include underlining;
}