@import "src/general";

.item {
  @include shadow;
}
.preview {
  font-weight: 500 !important;
}

.description {
  span {
    color: $blue-1;
    font-weight: 500;
  }
  a {
    text-decoration: none;
    color: $blue-3;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }
}