@import "src/general";

.connection {
  display: flex;
  flex-direction: column;
  gap: 45px;

  & > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.phone {
  color: $blue-1;
  font-size: 32px;
  font-weight: 700;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.mail {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.address {
  color: $blue-1;
  font-size: 20px;
}

.description,
.mail {
  color: $turquoise-5;
  font-size: 16px;
  font-weight: 400;
}

@media (max-width: 325px) {
  .phone {
    font-size: 24px;
  }

  .address {
    font-size: 16px !important;
  }
}

.social {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  justify-content: center;
  gap: 20px !important;
}

.link {
  text-decoration: none;

  & > svg {
    width: 36px;
    height: 36px;
    transition: .125s ease;
  }
  &:active {
    svg {
      transform: scale(1.1);
    }
  }
}

.vk {
  fill: #4680C2;
}

.telegram {
  fill: #0088CC;
}

.whatsapp {
  fill: #40C351;
}