@import "src/general";

.information {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.text {
  color: $black-2;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.bold {
  font-weight: 500;
}

.italic {
  font-style: italic;
}

.link {
  color: $blue-3;

  &:hover {
    text-decoration: underline;
  }
}

.item {
  font-weight: 400;
  font-size: 18px;
  color: $blue-3;

  &:hover {
    text-decoration: underline;
  }

  a {
    color: $blue-3;
  }
}

.button {
  background-color: $blue-3 !important;
  display: inline !important;
}