@import "src/general";

.phone {
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  color: $blue-1;
  display: flex;
  align-items: center;
  gap: 5px;

  &:hover {
    text-decoration: underline;
  }
}

@media (max-width: 768px) {
  .phone {
    padding: 8px;

    span {
      display: none;
    }
  }
}