@import "src/general";

.list {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  li {
    line-height: 24px;
  }
}

.link {
  font-size: 18px;
  font-weight: 500;
  color: $blue-3;

  &:hover {
    text-decoration: underline;
  }
}