@import "src/general";

.form {
  display: flex;
  align-items: center;
}

.input {
  width: 100%;
  outline: none;
  border: unset;
  padding: 15px;
  background-color: $white-1;
  border-radius: 5px;

  &::placeholder {
    color: $turquoise-4;
  }
}