@import "../../../../general";

.connection {
  display: flex;
  flex-direction: column;
  gap: 45px;

  & > article {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.phone {
  color: $blue-1;
  font-size: 32px;
  font-weight: 700;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.mail {
  color: $turquoise-5;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.address {
  color: $blue-1;
  font-size: 20px;
  font-weight: 400;
}

.description {
  color: $turquoise-5;
  font-size: 16px;
  font-weight: 400;
}

@media (max-width: 325px) {
  .phone {
    font-size: 24px;
  }

  .address {
    font-size: 16px !important;
  }
}