@import "src/general";

.wrapper {
  @include medium-container;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.empty {
  font-size: 20px;
  font-weight: 500;
  color: $black-2;
  
  span {
    font-style: italic;
    color: $blue-3;
  }
}