@import "src/general";

.wrapper {
  @include small-container;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.time {
  display: flex;
  align-items: flex-end;
  gap: 5px;
}

.date {
  font-size: 16px;
  font-weight: 500;
  color: $black-2;
}

.button {
  background-color: $blue-3 !important;
  display: inline !important;
}

.body {
  line-height: 32px;
  text-indent: 24px;
  font-size: 18px;
  text-align: justify;

  &::first-letter {
    font-size: 32px;
    font-weight: 500;
  }
}

.cover {
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
  border-radius: 30px;
  object-fit: cover;
}