@import "src/general";

.breadcrumbs {
  color: $turquoise-1;
  display: flex;
  align-items: center;
  gap: 10px;

  .wrapper {
    display: flex;
    gap: 10px;

    .past {
      color: $turquoise-1;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
      &:active {
        color: $turquoise-2;
      }
    }
  }
  .current {
    color: $turquoise-3;
  }
}

@media (max-width: 768px) {
  .breadcrumbs {
    display: none;
  }
}