@import "src/general";

.wrapper {
  flex-shrink: 0;
  background-color: $white-2;
}

.container {
  @include large-container;
  padding: 75px 25px 15px 25px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.copyright {
  color: $turquoise-5;
  font-size: 12px;
  font-weight: 400;
}