@import "src/general";

.wrapper {
  flex-shrink: 0;
  background-color: $white-2;
}

.footer {
  @include container;
  padding: 75px 25px 15px 25px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.information {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: $turquoise-5;

  .title {
    font-size: 14px;
    font-weight: 700;
  }
  .text {
    font-size: 14px;
    font-weight: 400;
  }
}

.copyright {
  color: $turquoise-5;
  font-size: 12px;
  font-weight: 400;
}