@import "src/general";

.title {
  @include title(28px);
  text-align: center;
}

.maps {
  @include medium-container;
  @include shadow;
  width: 100%;
  border: unset;
  outline: none;
  border-radius: 10px;
}