@import "src/general";

.wrapper {
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.addendum {
  max-width: 750px;
}

.title {
  font-size: 32px;
  font-weight: 700;
  color: $blue-1;
  margin: 0;
  text-align: center;
}

.subtitle {
  font-size: 28px;
}

.underlining {
  @include underlining;
}