@import "src/general";

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $black-1;
  gap: 10px;

  &:active {
    .icon {
      transform: scale(1.1);
    }
  }
}

.icon {
  width: 36px;
  height: 36px;
  object-fit: cover;
}

.name {
  font-size: 18px;
  margin: 0;
  font-weight: 700;
}

@media (max-width: 768px) {
  .name {
    display: none;
  }
}