$white-1: #FFFFFF;
$white-2: #F0F4F8;

$black-1: #000000;

$turquoise-1: #8FB1C7;
$turquoise-2: #6b8595;
$turquoise-3: #485964;

$blue-1: #0000DE;
$blue-3: #355DFB;

@mixin container {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 25px;
}

@mixin shadow {
  -webkit-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
}