@import "src/general";

.item {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  gap: 50px;
  outline: none !important;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.title {
  font-size: 40px;
  font-weight: 700;
  color: $blue-1;
}

.text {
  font-size: 18px;
  font-weight: 300;
  color: $black-1;
  line-height: 28px;
}

.image {
  min-width: 400px;
  min-height: 400px;
  max-width: 400px;
  max-height: 400px;
  object-fit: cover;

  @media (max-width: 625px) {
    min-width: 100%;
    min-height: 100%;
  }
}

@media (max-width: 900px) {
  .item {
    flex-direction: column;
    gap: 25px;
  }

  .content {
    text-align: center;
  }

  .title {
    font-size: 36px;
  }
}

@media (max-width: 375px) {
  .title {
    font-size: 28px;
  }
}