@import "src/general";

.article {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 18px;
  line-height: 24px;

  p, ul {
    color: $black-2;
    font-weight: 300;
  }
  ul {
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.upper {
  text-transform: uppercase;
  color: $blue-3;

  &:hover {
    text-decoration: underline;
  }
}

.link {
  color: $blue-3;

  &:hover {
    text-decoration: underline;
  }
}